{{#if newGame}}
  <div>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        {{input value=name id="name"}}
      </div>

      <div class="form-group">
        <label for="released">Released Date</label>
        {{input value=released id="released"}}
      </div>

      <div class="form-group">
        <label for="image">cover image URL here</label>
        {{input value=image id="image"}}
      </div>

      <div class="form-group">
        <label for="editorRating">Editor's Rating:</label>
        {{input value=editorRating id="editorRating" type="number" min="0" max="5"}}
      </div>

      <button {{action 'submitGame'}}>Submit</button>
    </form>
  </div>
{{else}}
  <button class="btn-danger" {{action 'newGameShow'}}>Submit New Game</button>
{{/if}}
