<h2>{{model.name}}</h2>
<h3>Realeased: {{model.released}}</h3>
<h2>Editor's Ratings: {{model.editorRating}}</h2>
<img src={{model.image}}>

{{new-review saveReview="saveReview" game=model}}

{{#each model.reviews as |review|}}
  {{display-review review=review deleteReview="deleteReview"}}
{{/each}}
